@using Helpdesk.Core.Enumeration
@using Helpdesk.Core.Models.ApplicationUser
@model UpdateUserViewModel

@{
	ViewBag.Title = "Редактиране";
	// ViewBag.RoleNameList = new SelectList(Enum.GetNames(typeof(RoleNameItems)));

}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
{
	<div class="alert alert-danger" role="alert">
		@ViewData.ModelState["Error"].Errors.First().ErrorMessage
	</div>
}

<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<form asp-action="EditUser" method="post">

			<input type="hidden" name="currentPage" value="@ViewBag.CurrentPage" />
			<input type="hidden" name="sortItem" value="@ViewBag.SortItem" /> 
			<input type="hidden" name="dirId" value="@ViewBag.DirId" /> 

			<div class="form-group">
				<label asp-for="FirstName">Име</label>
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="small text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="LastName">Фамилия</label>
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="small text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Address">Адрес</label>
				<input asp-for="Address" class="form-control" />
				<span asp-validation-for="Address" class="small text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Email">Ел.поща</label>
				<input asp-for="Email" class="form-control" readonly />
				<span asp-validation-for="Email" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Position">Длъжност</label>
				<input asp-for="Position" class="form-control">
				@* <span asp-validation-for="Position" class="small text-danger"></span> *@
			</div>

			<div class="form-group">
				<label asp-for="PhoneNumber">Телефон</label>
				<input asp-for="PhoneNumber" class="form-control">
				<span asp-validation-for="PhoneNumber" class="small text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="RoleName">Роля</label>
				<select asp-for="RoleName" class="form-control" aria-required="true">
					<optgroup label="Select Role">
						@foreach (var item in Enum.GetNames(typeof(RoleNameItems)))
						{
							<option value="@item">@item</option>
						}
					</optgroup>
				</select>
				<span asp-validation-for="RoleName" class="small text-danger"></span>
			</div>


			<div class="form-group">
				<label asp-for="DirectoratesUnitId">Дирекция</label>
				<select asp-for="DirectoratesUnitId" class="form-control" aria-required="true">				
					<optgroup label="Select Directorate">
						@foreach (var item in Model.DirectoratesList)
						{
							<option value="@item.Id">@item.Name</option>
						}
						
					</optgroup>
				</select>
				<span asp-validation-for="@Model.DirectoratesUnitId" class="text-danger"></span>
			</div>

@* 			<div class="form-group">
				<label asp-for="IsActive">Select State</label>
				<select asp-for="IsActive" class="form-control" aria-required="true">
					<optgroup label="Select Status">
						@foreach (var item in Enum.GetNames(typeof(Status)))
						{
							<option value="@item">@item</option>
						}				

					</optgroup>
				</select>
				<span asp-validation-for="@Model.IsActive" class="text-danger"></span>
			</div> *@

			<div class="form-group">
				<label asp-for="IsActive">Статус</label>
				<select asp-for="IsActive" class="form-control" aria-required="true">
					<optgroup label="Select Status">						
							<option value="true">Да</option>
							<option value="false">Не</option>						
					</optgroup>
				</select>
				<span asp-validation-for="@Model.IsActive" class="text-danger"></span>
			</div>

			<div class="form-group">			
				<input asp-for="UserId" class="form-control" readonly type="hidden"/>
				<span asp-validation-for="UserId" class="small text-danger"></span>
			</div>


			<div class="text-center">
				<input class="btn btn-primary mt-3 " type="submit" value="Save" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}


