@using Helpdesk.Core.Models.Request
@using Helpdesk.Infrastructure.Data.Model
@using Microsoft.AspNetCore.Identity
@using Helpdesk.Extentions
@inject UserManager<ApplicationUser> UserManager

@{
	var fullName = await UserManager.GetFullNameAsync(User);
}

@model IEnumerable<RequestViewModel>
@{
	ViewBag.Title = "Моите Заявки";
}


<h2 class="text-center">@ViewBag.Title</h2>
<h2 class="text-center">@fullName</h2>
<hr />


@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
{
	<div class="alert alert-danger" role="alert">
		@ViewData.ModelState["Error"].Errors.First().ErrorMessage
	</div>
}

<table class="table table-striped">
	<thead>
		<tr>
			<th>Описание</th>
			<th>Категория</th>
			<th>Подадена</th>
			<th>Приключена</th>
			<th>Статус</th>
			<th>Разпределена</th>
			<th>Коментар</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td><label>@item.Description</label></td>
				<td><label>@item.CategoryName</label></td>
				<td>@item.StartDate</td>
				<td>@item.EndDate</td>
				<td>@item.RequestState</td>
				<td>@item.OperatorName</td>
				<td>@item.Comment</td>
				<td>
					<a asp-controller="Request" asp-action="Detail" asp-route-Id="@item.Id" class="btn btn-primary text-center">Детайли</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="text-center">
	<a asp-area="" asp-controller="Request" asp-action="AddRequest" class="btn btn-secondary">Добавяне</a>
</div>


