@using PawnShop.Core.Models.Agreement
@model IEnumerable<AllAgreementViewModel>
@{
	ViewBag.Title = "All Agreements";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Goods</th>
            <th>Description</th>
            <th>Price</th>
            <th>Return Price</th>
            <th>Duration</th>
            <th>Interest</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>State</th>           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           @*  <form asp-controller="Agreement" asp-action="Details" method="get" class="d-inline"> *@
            <tr>
                <td>@item.GoodName</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.ReturnPrice</td>
                <td>@item.Duration</td>
                <td>@item.Ainterest</td>
                <td>@item.StartDate.ToString("dd/MM/yyyy")</td>
                <td>@item.EndDate.ToString("dd/MM/yyyy")</td>
                <td>@item.AgrreementStates</td>             
                <td>
                   @*  <input type="hidden" name="Id" value="@item.Id"  />
                    <button type="submit" class="btn btn-info">Details</button> *@

                    <a asp-action="EditAgreement" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
                    <a asp-controller="Interest" asp-action="AddInterest" asp-route-agreementId="@item.Id" class="btn btn-primary">+Add Interest</a>
                 
                  @*  @if (User?.Identity?.IsAuthenticated ?? false) // show only if user is logged in
                    {
                        <form asp-controller="Watchlist" asp-action="AddToWatchlist" method="post" class="d-inline">
                            <input type="hidden" name="movieId" value="@item.Id" />
                            <button type="submit" class="btn btn-warning">+Watchlist</button>
                        </form>
                    } *@
                </td>
            </tr>
           @*  </form> *@
        }
    </tbody>
</table>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}