@model IEnumerable<AllInterestViewModel>
@{
	ViewBag.Title = "All Interests";

}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

	@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
	{
		<div class="alert alert-danger" role="alert">
			@ViewData.ModelState["Error"].Errors.First().ErrorMessage
		</div>
	}

	<h5 class="text-center"><b>Goods:</b> @Model.FirstOrDefault().GoodName &nbsp; End Date: @Model.FirstOrDefault().EndDate.ToString("dd/MM/yyyy")</h5>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Interest</th>
				<th>Date Interest</th>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.ValueInterest</td>
					<td>@item.DateInterest.ToString("dd/MM/yyyy")</td>
					<td>@item.UserFirstName</td>
					<td>@item.UserLastName</td>
					<td>
						@if (User.IsInRole("AdminRole"))
						{
							<a asp-action="DeleteInterest" asp-route-Id="@item.Id" class="btn btn-info">Delete</a>
						}
					</td>
				</tr>

			}
		</tbody>
	</table>


<a asp-controller="Interest" asp-action="AddInterest" asp-route-Id="@Model.FirstOrDefault().AgreementId" class="btn btn-primary">+Add Interest</a>


<div>
	<a asp-controller="Client" asp-action="MineAgreements" class="btn btn-danger mt-3">Back</a>
	@* <button type="button" class="btn btn-danger mt-3" onclick="window.history.back()">Cancel</button> *@
</div>


