@model AllInterestViewModel
@{
	ViewBag.Title = "Delete Interest";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row justify-content-center">
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title text-center">Good Name: @Model.GoodName  &nbsp; End Date: @Model.EndDate</h5>
				<p class="mb-0"><strong>Interest:</strong> @Model.ValueInterest &nbsp; On Date: @Model.DateInterest</p>
				<p class="mb-0"><strong>Inserted by:</strong> @Model.UserFirstName &nbsp;  @Model.UserLastName</p>
				<p class="text-danger mt-3">Are you sure you want to delete? The End Date will be changed <b>@Model.EndDateChanged</b></p>
			</div>
			<div class="card-footer">
				<form asp-action="DeleteConfirmed" method="post">
					<input type="hidden" asp-for="Id" />
					<button type="submit" class="btn btn-danger">Confirm Delete</button>
				</form>
			</div>
			<a asp-controller="Agreement" asp-action="All" class="btn btn-secondary">Cancel</a>
		</div>
	</div>
</div>

