@using Helpdesk.Core.Models.ApplicationUser
@model UserViewModel

<tr>

	<td>@Model.FirstName</td>
	<td>@Model.LastName</td>
	<td>@Model.Email</td>
	<td>@Model.PhoneNumber</td>
	<td>@Model.Address</td>
	<td>@Model.Position</td>
	<td>@Model.DirectorateName</td>
</tr>
