@using Helpdesk.Core.Models.ApplicationUser
@model UserViewModel

<tr>

	<td>@Model.FirstName</td>
	<td>@Model.LastName</td>
	<td>@Model.Email</td>
	<td>@Model.PhoneNumber</td>
	<td>@Model.Address</td>
	<td>@Model.Position</td>
	<td>@Model.DirectorateName</td>
	<td style="display:none">@Model.UserId </td>

	@if (Model.UserName.ToLower().Contains("admin"))
	{
		<td>&nbsp;</td>
	}
	else
	{

		
	<td><a 
		asp-controller="Users" 
		asp-action="EditUser" 
		asp-route-userId="@Model.UserId"
		asp-route-currentPage="@Model.CurrentPage"
		asp-route-sortItem="@Model.SortItem.ToString()"
		class="btn btn-primary text-center">Редактирай</a></td>
	}
</tr>
