@using PawnShop.Core.Models.Shop
@model IEnumerable<AllGoodsInShopViewModel>

@if (Model.Count() == 0){
	ViewBag.Title = "No Goods in Shop";
}
else {
	ViewBag.Title = "All Goods in Shop";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
{
	<div class="alert alert-danger" role="alert">
		@ViewData.ModelState["Error"].Errors.First().ErrorMessage
	</div>
}

<table class="table table-striped">
	<thead>
		<tr>
			<th>Goods</th>
			<th>Description</th>
			<th>Sell Price</th>
			<th>Sold Date</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{

			<tr>
				<td>@item.Name</td>
				<td>@item.Description</td>
				<td>@item.SellPrice</td>
				<td>@item.SoldDate</td>
				<td>
					<a asp-controller="Shop" asp-action="Buy" asp-route-Id="@item.Id" class="btn btn-danger">Buy</a> <span>You will be redirected to the payment system ---></span>
				</td>
			</tr>

		}
	</tbody>
</table>
