@using PawnShop.Core.Models.Agreement
@model AgreementServiceModel

<div class="col-md-4">
    <div class="card mb-3">
       
        <div class="card-body text-center">
            <h4>@Model.GoodName</h4>           
            <p>Price: <b>@Model.Price</b></p>
            <p>Return Price: <b>@Model.ReturnPrice</b></p>
            <p>Duration: <b>@Model.Duration</b></p>
            <p>Start Date: <b>@Model.StartDate</b></p>
            <p>End Date: <b>@Model.EndDate</b></p>           
            <p>State: <b>@Model.AgreementState</b></p>     
       
            @if (this.User?.Identity?.IsAuthenticated ?? false && User.IsInRole("AdminRole"))
            {
                <a asp-area="Admin" asp-controller="Agreement" asp-action="Details" asp-route-id="@Model.Id"
                   class="btn btn-info">Details</a>             
            }
        </div>
    </div>
</div>

