@* _RequestTable.cshtml *@

@using Helpdesk.Core.Models.Request
@model IEnumerable<RequestViewModel>

				@foreach (var item in Model)
				{
					<tr class="request-row" data-id="@item.Id">
						<td class="status-cell"></td> <!-- клетка за иконка -->
						<td>@item.RequestNumber</td>
						<td>@item.StartDate</td>
						<td>@item.UserFullName</td>
						<td>@item.CategoryName</td>
						<td>@item.RequestState</td>
						<td>@item.DirectorateName</td>
					
						<td>
							<button class="load-history-btn btn btn-sm btn-secondary"
									data-request-id="@item.Id">
								История
							</button>
						</td>

						<td style="display:none">@item.Id</td>
						@* <td>@item.Id</td>*@
					</tr>
				}
		
