@using Helpdesk.Core.Models.Request
@model IEnumerable<RequestViewModel>
@{
	ViewBag.Title = "All Requests Table";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
{
	<div class="alert alert-danger" role="alert">
		@ViewData.ModelState["Error"].Errors.First().ErrorMessage
	</div>
}
<div id="main">
	<div class="request-table-container">
		<table class="table table-hover" id="requestTable">
			<thead>
				<tr>
					<th></th>
					<th>Номер на заявка</th>
					<th>Дата</th>
					<th>Име</th>
					<th>Категория</th>
					<th>Статус</th>
					<th>Дирекция</th>
					<th>История</th>
					<th></th>

				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr class="request-row" data-id="@item.Id">
						<td class="status-cell"></td> <!-- клетка за иконка -->
						<td>@item.RequestNumber</td>
						<td>@item.StartDate</td>
						<td>@item.UserFullName</td>
						<td>@item.CategoryName</td>
						<td>@item.RequestState</td>
						<td>@item.DirectorateName</td>
					@* 	<td>
							<button class="load-details-btn btn btn-sm btn-secondary"
									data-request-id="@item.Id">
								Детайли
							</button>
						</td> *@
						<td>
							<button class="load-history-btn btn btn-sm btn-secondary"
									data-request-id="@item.Id">
								История
							</button>
						</td>
						@* <td style="display:none">@item.Id</td> *@
						<td>@item.Id</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	@* <div id="detailsContainer" class="mt-4">
		<p>Избери заявка за подробности...</p>
	</div>
	<div id="historyContainer"></div> *@
</div>

@*@section Scripts {
	<script src="~/js/RequestDetail.js"></script>
	<script src="~/js/RequestHistory.js"></script>
}*@
