@using Helpdesk.Core.Models.Request
@model RequestViewModel
@{
	ViewBag.Title = "Request Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<table class="table table-hover">
	<thead>
		<tr>
			<th>Описание</th>
			<th>Статус</th>
			<th>Разпределена</th>
			<th>Приключена</th>
			<th>Коментар</th>
			<th>Удовлетвореност</th>
			<th></th>			
		</tr>
	</thead>
	<tr class="request-row" data-id="@Model.Id">
		
		<td><textarea rows="3" cols="50">@Model.Description</textarea></td>
		<td>@Model.RequestState</td>
		<td>@Model.OperatorName</td>
		<td>@Model.EndDate</td>
		<td>@Model.Comment</td>
		<td>@Model.Satisfaction</td>
		<td style="display:none">@Model.Id</td>
		
	</tr>
</table>

@section Scripts {
	<script src="~/js/RequestDetail.js"></script>
}
