@using Helpdesk.Core.Models.RequestHistory

@model IEnumerable<RequestHistoryViewModel>
@{
	ViewBag.Title = "Request History";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<table class="table table-hover">
	<thead>
		<tr>
			<th>Номер на заявка</th>
			<th>Статус</th>
			<th>Дата</th>
			<th>Променено от</th>			
			<th></th>			
		</tr>
	</thead>
	<tbody>
		@* <tr>
			<td colspan="3" class="text-center">Историята е празна.</td>
		</tr>*@	

		@foreach (var item in Model)
		{
		<tr class="history">
			
			<td>@item.RequestNumber</td>
			<td>@item.RequestState</td>
			<td>@item.ChangeDate</td>
			<td>@item.ChangedByUser</td>					
			<td>@item.id</td>					
		</tr>
		}

	</tbody>
</table>

@* <ul>
	@foreach (var item in Model)
	{
		<li data-id="@item.RequestStateId">>@item.RequestState - @item.ChangeDate - @item.ChangedByUser</li>
	}
</ul> *@
